app/flows/rancher/rancher-consul-flow.json
[{"type":"tab","id":"dfe4622.637cb2","label":"Sheet 1"},{"id":"c161892b.dd39d8","type":"websocket-client","z":"dfe4622.637cb2","path":"ws://{RANCHER_ACCESS_KEY}:{RANCHER_SECRET_KEY}@{RANCHER_HOST}/v1/subscribe?eventNames=resource.change","wholemsg":"false"},{"id":"27ab77f7.318a7","type":"websocket in","z":"dfe4622.637cb2","name":"RancherWS","server":"","client":"c161892b.dd39d8","x":191,"y":117,"wires":[["c13c9ec3.ea6bb"]]},{"id":"d042f33b.fc704","type":"http request","z":"dfe4622.637cb2","name":"consul","method":"PUT","ret":"txt","url":"","x":627,"y":343,"wires":[[]]},{"id":"c13c9ec3.ea6bb","type":"function","z":"dfe4622.637cb2","name":"parseRancherMsgContainer","func":"var message = JSON.parse(msg.payload)\nvar data = \"\";\nvar info = \"\";\n\nif ( message.name === 'resource.change') \n{\n    \n    var resource = message.data.resource;\n\n\n    if ( message.resourceType === 'container')\n    {\n\n        if (resource.state === 'running') {\n            node.log('===> Add or update consul');\n    \n            var servicename = String(resource.name);\n            servicename = servicename.substr(0,servicename.indexOf('_'));\n    \n            var ports = String(resource.ports);\n            ports = ports.substr(0,ports.indexOf(':'));\n    \n            data = '{\"Datacenter\": \"dc1\", \"Node\": \"' + resource.name + '\", \"Address\":' + '\"' + resource.primaryIpAddress + '\"' + ', \"Service\": {\"Service\": \"' + servicename + '\", \"Port\":' + ports + '}}';\n            msg.url = 'http://{CONSUL_URL}/v1/catalog/register';\n        }\n        if (resource.state === 'stopped' || resource.state === 'removed') {\n            node.log('===> Remove service and or node from consul')\n    \n            data = '{\"Datacenter\": \"dc1\", \"Node\": \"' + resource.name + '\"}}';\n            msg.url = 'http://{CONSUL_URL}/v1/catalog/deregister';\n        }\n        \n        info = 'Resource Info: ' + resource.name + ' ' + resource.state + ' ' + resource.primaryIpAddress + ' ' + resource.environment + ' ' + resource.ports;\n\n    }\n    \n}    \nif (data !== \"\") {\n    node.log('     ' + info);\n    node.log('     ' + data);\n    msg.payload = data;\n    return msg;\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":405,"y":352,"wires":[["d042f33b.fc704"]]}]
